- main_image_key = "house_thumb_image_url"
- shingle_colors = ShingleConnection.shingle_colors(@current_shingle)

#shingle-name
  = @current_shingle["proper_name"]

#main-image-container
  #main-image
    = image_tag(@current_color[main_image_key], :id => "main-image-tag")

  #shingle-selector
    Select Shingle for Preview
    = select_tag("shingle-names", options_for_select(@shingles.collect{|shingle| [shingle["proper_name"], shingle["uid"]]}, :selected => @current_shingle["uid"]))

  #zip-selector
    Enter Zip Code for Availability in Your Area
    = form_tag(shingle_zip_updated_path) do
      = text_field_tag(:zip, @current_zip.code)           
      = hidden_field_tag(:shingle, @current_shingle["uid"])
      = hidden_field_tag(:color, @current_color["uid"])
      = submit_tag("Set Zip Code")
  
  #utilities
    = mail_to nil, "Mail this page to a friend.", :body => request.original_url, :subject => "Check Out These Shingles!"
    #favorite-links              
      = hidden_field_tag("favorited", @favorited)
      %div{:id => "favorite-link"}
        <a href="">Like this Page</a>             
      %div{:id => "unfavorite-link"}
        <a href="">Unlike this Page</a>             
    

#swatches
  - shingle_colors.each do |color|
    .color-swatch{:class => (color["name"] == @current_color["name"] ? :selected : nil), "data-large-image-url" => color[main_image_key]}
      = image_tag(color["swatch_160x160_url"], "data-color-id" => color["uid"], :alt => color["name"])
      .color-name= color["name"]

= hidden_field_tag("shingle-uid-tag", @current_shingle["uid"])
= hidden_field_tag("color-uid-tag", @current_color["uid"])
