%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Owens Corning Developer Test
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
  %body
    - if flash.any?
      - flash.keys.each do |key|
        .flash-message{:class => key}
          %div
            = flash[key]
    = yield
